.about-container {
    background-image: url('https://img.freepik.com/premium-photo/female-hand-holding-small-shopping-cart-with-colorful-shopping-paper-bags-isolated-pink-background_43780-7253.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fff; /* Text color for better contrast */
  }
  
  .about-content {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background for better readability */
    padding: 2rem;
    border-radius: 8px;
    max-width: 600px; /* Limit the width of the content */
  }
  
  .about-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .about-content p {
    font-size: 1.5rem;
    line-height: 1.6;
  }
  

  image {
    width: 60%; /* Adjust width to medium size */
    max-width: 300px; /* Maximum width for responsiveness */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }